.detail-design{
    width: 100vw;
    height: 82vh;

    background-color:lightpink;

    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-container{
    padding:150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-movie-container{
    text-align:left;
    display:block;
    height: 60vh;
    padding: 30px 50px 30px 50px;
}

.second-movie-container h1{
    font-size: 80px;
}

.second-movie-container p{
    font-size: 30px;
}