* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @font-face {
    font-family: 'blackops'; 
    src: url('../../assets/fonts/BlackOpsOne-Regular.ttf'); 
  }
  
  .home-design {
    font-family: 'blackops', sans-serif; 
    text-align:center;
  }

  .welcome-text{
    width: 70vw;
    font-size: 1em;
  }
  .home-design img {
    width: 30vw;
  }


  @media (max-width: 2000px) {
    .welcome-text{
      font-size: 0.5em;
    }

  }
  @media (max-width: 500px) {
    .welcome-text{
      font-size: 0.2em;
    }

  }
  @media (max-height: 1000px){
    .home-design img{
      width: 40vh;
    }
  }

  @media (max-height: 800px){
    .welcome-text{
      font-size: 0.3em;
    }
  }
.home-design{
   font-size: 5em;
  flex-direction: column;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 82vh;
  width: 100vw;
  background: linear-gradient(135deg, #440402 0%, #900b0b 100%);
  padding: 20px;
}