* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.characters-design{
  text-align:center;
   font-size: 1em;
    flex-direction: column;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 82vh;
  width: 100vw;
  background: linear-gradient(135deg, #4b0300 0%, #5e0606 100%);
  padding: 20px;
}

.characters-container{
    height: 70vh;
    max-width: 95vw;
    overflow-y:hidden;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 10px;
    margin-top:15px;
}

.character-container{
    border:20px solid rgb(71, 0, 0);
    padding: 10px;
    width: 25vw;
    font-size: 3em;
    height: 65vh;
}

@media (max-height: 1000px) {
  .character-container{
    font-size: 2em;
  }

}

.character-container img{
    width: 20vw;
   height: 20vw; 
   object-fit: cover;
}