* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.characters-design{
   font-size: 1em;
    flex-direction: column;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 82vh;
  width: 100vw;
  background: linear-gradient(135deg, #4b0300 0%, #5e0606 100%);
  padding: 20px;
}

.characters-container{
    height: 70vh;
    width: 95vw;
    overflow-y:hidden;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.character-container{
    border:20px solid rgb(71, 0, 0);
    padding: 10px;
    width: 25vw;
    font-size: 3em;
    height: 70vh;
}
.character-container img{
    width: 20vw;
}