.profile-design{
  width: 100vw;
  height:82vh;
   background-color: rgba(188, 0, 0, 0.724);
display:flex;
align-items: center;
justify-content: center;
text-align: center;
flex-direction: column;
}

.profile-container{
    padding: 0;
    width: 100vw;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.favorite-item{
    font-size: 2em
}
.favorite-item img{
    width: 10vw;
    height: 10vw;
    filter: brightness(50%);
}
.favorite-item img:hover{
    filter: brightness(100%)
}
.favorite-items{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    overflow:hidden;
    width: 45vw;
    height: 25vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 20px;
    margin-top: 20px;
}
#avatar{
    width: 20vw;
    height: 20vw;
}
.user-container img{
    flex-basis: 50%;
    flex-grow:1;
    margin-top: 20px;
}
.user-container{
    width: 50vw;
    height: 60vh;
}
.user-info button {
    margin-right: 20px;
    margin-top: 5px;
}

.user-info{
    width: 50vw;
    height: 70vh;
    text-align: left;
}