* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.home-design {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82vh;
  width: 100vw;
  background: linear-gradient(135deg, #ffdd9e 0%, #f3eb9e 100%);
  padding: 20px;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1800px;
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: center;
}

.movie-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
  width: 200px;
  text-align: center;
  padding: 20px;
  padding-top: 10px;
  height: 300px;
  font-family: 'Arial', sans-serif;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  height: 230px;
  border-bottom: 1px solid #ddd;
}

@media (max-width: 1200px) {
  .movie-card {
      width: 180px;
      height: 280px;
  }

  .movie-card img {
      height: 200px;
  }
}

@media (max-width: 992px) {
  .movie-card {
      width: 150px;
      height: 250px;
  }

  .movie-card img {
      height: 170px;
  }
}

@media (max-width: 768px) {
  .home-design {
      flex-direction: column;
      align-items: flex-start;
  }

  .movies-container {
      justify-content: space-around;
  }

  .movie-card {
      width: 45%;
      margin-bottom: 20px;
  }

  .movie-card img {
      height: 160px;
  }
}

@media (max-width: 576px) {
  .movie-card {
      width: 100%;
      margin-bottom: 20px;
  }

  .movie-card img {
      height: 140px;
  }
}
