.game-details-design{
    width: 100vw;
    height: 82vh;
    background-color: rgb(87, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.image-name-game-container{
    height: 70vh;
    width:30vw;
    padding: 30px;
}
.image-name-game-container img{
    margin-top: 30px;
    width: 20vw;
}
.info-game-container{
    height: 60vh;
    width:70vw;
    padding: 0px 100px 100px 0px;
    text-align: left;
    overflow-y: scroll;
}
.info-game-container p {
    font-size: 2em;
}

.info-game-container button{
    width:4vw;
    height: 4vw;
    font-size: 1.5em;
    margin-bottom: 10px;
}
.game-details-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.username{
    color: rgb(255, 70, 70);
    font-weight: bold;
}
.change-view-button{

    font-size: 1.5em;

}
.add-comment-button{
    padding: 20px;
}
textarea{
    font-size: 1.5em;
    margin-top: 40px;
    margin-right: 20px
}
.comment{
    font-size: 1.5em;
}
.comments-container{
    background-color: rgb(50, 0, 0);
    margin-top: 15px;
    padding: 20px 20px 40px 30px;
}

li{
    list-style-type:none;
}